<div class="home">
   


    <div class="flex-box"> 


        <!-- <div class="side-bar"> -->
            <!-- <div class="logo">
                <img id='logo' src="spotify-png-image-41601.png">
                <a id="header-logo" href=""> Kalify </a>
            </div> -->

            <!-- <div id="bar-link">
                <ul>
                    <p class="home-link"> 
                     
                        <i id="iconhome" class="icon ion-md-home"></i>
                        <a class="iconlink" > Home </a>

                    </p>

                    <p class="search-link"> 
                            <i id="iconhome" class="icon ion-md-search"></i>
                            <a class="iconlink" href=""> Search </a>
                    </p>

                    <p class="library-link"> 
                        <i id="iconhome" class="icon ion-md-list"></i>
                        <a class="iconlink" href=""> library </a>
                    </p>

                </ul>
            </div> -->


            <!-- <div class="playlist">
                <div class="playlist-content">
                    <p>PLAYLISTS</p>
                    <button class="create-playlist">
                        <span> + </span> 
                        <span class="create-but-text">Create Playlist</span>
                    </button>

                    <ul class="playlist-items"> 
                        <li> <a href="" class="playlist-item">Classic</a> </li>
                        <li> <a href="" class="playlist-item">Eminem</a> </li>
                        <li>  <a href="" class="playlist-item">Classic</a> </li>
                        <li> <a href="" class="playlist-item">Classic</a> </li>
                        <li> <a href="" class="playlist-item">Eminem</a> </li>
                        <li>  <a href="" class="playlist-item">Classic</a> </li>

                        <li> <a href="" class="playlist-item">Classic</a> </li>
                        <li> <a href="" class="playlist-item">Eminem</a> </li>
                        <li>  <a href="" class="playlist-item">Classic</a> </li>
                        <li> <a href="" class="playlist-item">Classic</a> </li>
                        <li> <a href="" class="playlist-item">Eminem</a> </li>
                        <li>  <a href="" class="playlist-item">Classic</a> </li>
                    </ul>
                </div>
            </div> -->


           

<!-- 
            <div class="sidebar-footer">
                <a href=""> Install App 
                    
                </a>

            </div>


        </div> -->

        <div class="middle-home">

            <!-- <div class="upper-links">  
                <span> FEATURED </span>
                <span>PODCAST </span>
              <span> CHART </span>  
              <span>GENRE & MOODS</span> 
               <span> NEW RELEAES</span>  
              <span> DISCOVER </span>
            </div> -->


            <!-- <div class="for-who"> 
                Made for John
            </div> -->

            <!-- <div class="album-icons">

                <span class="album-icon"> 
                    <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                    <p class="icon-title"> Daily Mix 1 </p>
                    <p class="icon-artits"> Eminem, JayZ, Nas </p>
                </span>

                <span class="album-icon"> 
                        <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                        <p class="icon-title"> Daily Mix 2 </p>
                        <p class="icon-artits"> Eminem, JayZ, Nas, The trio </p>
                </span> -->

<!-- 
                <span class="album-icon"> 
                        <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                        <p class="icon-title"> Daily Mix 1 </p>
                        <p class="icon-artits"> Eminem, JayZ, Nas </p>
                    </span>
    
                <span class="album-icon"> 
                        <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                        <p class="icon-title"> Daily Mix 2 </p>
                        <p class="icon-artits"> Eminem, JayZ, Nas, The trio </p>
                </span>


                    <span class="album-icon"> 
                            <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                            <p class="icon-title"> Daily Mix 1 </p>
                            <p class="icon-artits"> Eminem, JayZ, Nas </p>
                        </span>
        
                        <span class="album-icon"> 
                                <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                                <p class="icon-title"> Daily Mix 2 </p>
                                <p class="icon-artits"> Eminem, JayZ, Nas, The trio </p>
                        </span>
        


                    <span class="album-icon"> 
                            <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                            <p class="icon-title"> Daily Mix 1 </p>
                            <p class="icon-artits"> Eminem, JayZ, Nas </p>
                        </span>
        
                        <span class="album-icon"> 
                                <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                                <p class="icon-title"> Daily Mix 2 </p>
                                <p class="icon-artits"> Eminem, JayZ, Nas, The trio </p>
                        </span>
        

                        <span class="album-icon"> 
                            <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                            <p class="icon-title"> Daily Mix 1 </p>
                            <p class="icon-artits"> Eminem, JayZ, Nas </p>
                        </span>
        
                    <span class="album-icon"> 
                            <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                            <p class="icon-title"> Daily Mix 2 </p>
                            <p class="icon-artits"> Eminem, JayZ, Nas, The trio </p>
                    </span>

                    
                    <span class="album-icon"> 
                        <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                        <p class="icon-title"> Daily Mix 1 </p>
                        <p class="icon-artits"> Eminem, JayZ, Nas </p>
                    </span>
    
                <span class="album-icon"> 
                        <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                        <p class="icon-title"> Daily Mix 2 </p>
                        <p class="icon-artits"> Eminem, JayZ, Nas, The trio </p>
                </span>


                <span class="album-icon"> 
                    <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                    <p class="icon-title"> Daily Mix 1 </p>
                    <p class="icon-artits"> Eminem, JayZ, Nas </p>
                </span>

            <span class="album-icon"> 
                    <img src="./Screen Shot 2019-09-04 at 11.54.30 PM.png">
                    <p class="icon-title"> Daily Mix 2 </p>
                    <p class="icon-artits"> Eminem, JayZ, Nas, The trio </p>
            </span>

     -->

            <!-- </div>



        </div> -->



<!-- 
    </div>


    <div class="footer">  

    </div>


</div> -->

    


<style>

/* #iconhome{
    font-size: 30px;
    padding-right: 20px;
} */


/* .home-link:hover #iconhome, .library-link:hover, .search-link:hover, .home-link:hover a, .library-link:hover a, .search-link:hover a{
        color: white;
    } */

    
/* .iconlink{
     color: gray;
     font-size: 15px
 } */


/* .home-link{
    margin-right: 70px;
} */


/* #bar-link ul{
    margin: 0;
    padding: 10;
} */
/* #iconhome:hover{ */
    /* font-size: 30px; */
    /* color: white; */
/* } */




/* .for-who{
    font-size: 50px;
    color: white;
    font-weight: white;
    padding-top: 50px;
    padding-left: 25px;
} */

/* .icon-title {
    color: white;
    padding-left: 50px;
} */

/* .album-icon {
    width: 140px;
    padding-right: 15px;
    padding-left: 10px;
    /* display: wrap; */
    /* overflow-wrap: normal
} */ 

/* .middle-home {
    overflow:scroll;
    width: 100% 
} */

/* .album-icons {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 100%

} */

/* .middle-home::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }

.middle-home::-webkit-scrollbar-thumb {
    background: gray;
} */

/* .album-icons img {
        position: relative;
        width: 140px;
        height: 140px;
        top: 13px;
        padding-left: 15px;
    } */

    /* .upper-links {
        display: flex;
        justify-content: space-around;
        font-size: 13px;
        width: 770px;
        padding-left: 150px;
        padding-top: 30px;
        font-weight: bold;
    }

    .upper-links span:hover {
        color:  white;
    } */

    /* #bar-link{
        height: 200px;
    } */

    
    /* html {
        background-color: black;
    } */

    /* .middle-home{
        background-color: darkolivegreen;
        height: 622px;
        width: 1100px;
        background-image: url(angryimg-3.png);
        color: rgb(129, 129, 129);
    } */

    /* .flex-box{
        display: flex;
        flex-direction: row;
    } */


    /* .footer{
    justify-content: space-between;
    height: 90px;
    padding: 0 16px;
    background-color: rgb(38, 40, 40);
    } */

    
    /* img#logo {
        position: relative;
        width: 60px;
        top: 13px;
        padding-left: 15px;
    } */


   /* .playlist-items{
    overflow:scroll;
    height: 200px;
    scrollbar-color: red;
   } */


    /* .side-bar{
        background-color: black;
        color: #b3b3b3;
        width: 240px;
        height: 622px;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: .015em;
        font-weight: var(--glue-font-weight-normal);
        text-transform: none;
        font-weight: 550;
        font-family: fantasy, Helvetica, Arial, sans-serif;
        
    } */
/*     
    div a {
        text-decoration: none;
        color:white;
    } */

    /* .side-bar #header-logo, div #home-link a {
        color: white;
      
    } */


    li {
    margin-top: 20px;
    }
    </style>