/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Song Player */


 .ion-md-play, .ion-md-fastforward, .ion-md-rewind {
    color: white;
    padding-right: 30px;
    font-weight: bold;
    font-size: 30px;
    
    
  }

  .ion-md-play:hover, .ion-md-fastforward:hover, .ion-md-rewind:hover {
    font-size: 33px;
  }


  .launcher-footer{
    display: flex;
    justify-content: center
  }
  .buttons-player {
    padding-top: 28px;
  }


  /* ---- */

  

 body {
   margin: 0;
 }

 .artist-photo{
   width: 100px;
   height: 100px;
 }
 .search-bar {
   width: 100%;
   height: 100%;
   background-color: black;
   border: 2px solid black;
   z-index: 2;
 }



img#sidebar-logo {
  position: relative;
  width: 40px;
  top: 13px;
  padding-left: 42px;  
}

.sidebar-logoword{
  position: fixed;
  left: 90px;
  top: 27px;

  color: white;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 25px;
  font-weight: 550;
  font-family: Arial;
}


.search-input{
  font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    text-transform: none;
    caret-color: #1db954;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    width: 1000px;
    background-color: transparent;
    border: none;
    color: white ;
    
}

.playlists-result, .songs-result, .albums-result, .artists-result{
  color: white;
}


.playlists-result ul, .songs-result ul, .albums-result ul, .artists-result ul{
  font-weight: bold;
}
