/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Song Player */

 /* <link rel='icon' href='https://community.spotify.com/t5/image/serverpage/image-id/28936i76F1ECE491E76C35/image-size/small?v=mpbl-1&px=-1'> */
 
html, 
body {
    height: 100%;
}

 .app-div{
   width: 100vw;
   height: 100vh;
 }




 .progress-bar{
   width: 600px;
   border: gray;
   height: 6px;
   /* margin-left: 300px; */
   border-radius: 20px;
   background-color: blue;
   margin-bottom: 30px;
 }


 
 .progress-bar:hover {
   cursor: pointer;
 }



 .audio-footer{
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:222px 222px 10px 7px ;
  /* background-color: red; */
  display: none;

 }
 
  .button-icons {
    /* color: white; */
    padding-left: 38%;
    /* font-weight: bold; */
    /* font-size: 30px; */
  }

  .progress-cont{
    display: flex;
  }

  .main-image-song{
    width:200px;
    height: 250px;
  }

  /* .buttons-player .ion-md-play:hover, .buttons-player .ion-md-fastforward:hover, .buttons-player .ion-md-rewind:hover {
    font-size: 33px;
  } */


 
  .buttons-player {
    padding-top: 12px;
    max-width: 100%;
    background-color: rgb(38, 40, 40);
    padding-right: 30%;
  }

  


  /* ---- */

  

 body {
   margin: 0;
 }

 .artist-photo{
   width: 100px;
   height: 100px;
 }
 .search-bar {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: black;
  border: 2px solid black;
  z-index: 2;
  position: fixed;
  padding-left: 228px;
 }



img#sidebar-logo {
  position: relative;
  width: 33px;
  top: 32px;
  padding-left: 35px;  
}




.search-input{
    font-size: 40px;
    line-height: 90px;
    letter-spacing: -.005em;
    text-transform: none;
    caret-color: #1db954;
    box-sizing: border-box;
    width: 100%;
    padding-left: 20%;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white ;
    background-color: rgb(53, 53, 53);
}

.playlists-result, .songs-result, .albums-result, .artists-result{
  color: white;
}


.playlists-result ul, .albums-result ul, .artists-result ul{
  /* font-weight: bold; */
  font-family: arial,sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  color: rgb(220, 217, 217);
}

.artist-info {
  font-family: arial,sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  background-color: rgb(38, 40, 40);
  color: rgb(220, 217, 217);
  width: 200px;
  margin: 0px;
  font-size: 12px;
  display: inline-block;
  padding-top: 70px;
  padding-right: 22%;
  /* background-color: inherit; */
}

.all-songs-results{
  font-family: arial,sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

  color: rgb(65, 65, 65);

}

.all-songs-results li{
    list-style-type: none;
}

.all-songs-results i:hover{
  font-size: 22px;
  cursor: pointer;
}

.upper-links span:hover{
  cursor: pointer;
}