@media only screen and (max-width: 808px) {
  /* For mobile phones: */
   .header-logo, .btnlogin, .btnsignup  {
    width: 100%;
  }
}

.profile-image{
    border-radius: 50px;
    width: 50px;
    height: 55px;
    // -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: middle;
    margin-left: 70%;
    margin-top: 17px;
    border: 0;
    color: transparent;
}


.trial-button{
  cursor: pointer;

}


  

img#logo {
      position: relative;
      width: 40px;
      top: 19px;
      left: 15%;
  }


.header-logo-word{
  position: fixed;
  left: 20%;
  top: 27px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 25px;
  font-weight: 550;
  font-family:   Arial, sans-serif; 
}

.header-logo-word:hover{
  color: rgb(35, 223, 100);
  cursor: pointer
}

.footer-to-weblaunch{
padding-left: 50px;
padding-top: 250px;
height: 400px;
display: flex;
align-items: center;
flex-direction: column;
}

.looking-formusic{
  margin-right: 20px;
  padding-bottom: 1px;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 50px;
  margin: 25px;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
}


.launch-button{
font-size: 14px;
line-height: 1;
border-radius: 500px;
padding: 16px 0px 18px;
padding-left: 120px;
padding-right: 120px;
border-width: 0;
letter-spacing: 2px;
color: gray;
text-transform: uppercase;
text-decoration: none;
border: 2px solid gray;
font-weight: bold;
}

.launch-button:hover{
  color: white;
  background-color: gray;
  border: black 2px solid;
}
.pickup-whereleft{
  padding-left: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 18px;
}

div.middle-header a, div.middle-header .logout-button{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    top: 32px;
    position: fixed;
    display: block;
    text-decoration: none;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

div.middle-header .logout-button:hover{
  cursor: pointer;
}

div.middle-header {
padding-bottom: 23px;
background: rgba(0, 0, 0, 0.6);
color: #f1f1f1;
width: 100%;
height: 60px;
border-color: #222326;
top: 0;
position: fixed;
}


.btnlogin {
  position: fixed;
  left: 80%
}

.btnsignup {
    position: fixed;
    left: 70%
}

.btnlogin:hover, .btnsignup:hover{
  color:rgb(35, 223, 100);
}

.logout-button {
    position: fixed;
    left: 80%;
    padding-top: 5px;

}

    
    

    div.all-main-page-notloggedin {
      background-image: url("https://images.pexels.com/photos/2457317/pexels-photo-2457317.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
      height: 100vh;
      width: 100vw;
      max-width: 100%;
      max-height: 100%;
    }

    div.all-main-page-loggedin {
      background-image: url("https://images.pexels.com/photos/2457317/pexels-photo-2457317.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
      height: 100vh;
      width: 100vw;
      max-width: 100%;
      max-height: 100%;
    }

    img#background-img{
      height: 100%;
      width: 100%;
      z-index: -90;
      position: absolute;
      top: 0;
    }


     .welcome-content h4 {
        color: white;
        /* top: 40px; */
        /* padding-bottom: 100px; */
    }
    .welcome-content a:hover{
        background-color: rgb(35, 223, 100);

    }
    
    .welcome-content a {padding-bottom: 60px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
         padding: 16px 48px 18px;
         transition-duration: .3s;
        background-color: #1DB954;
        border-width: 0;
        letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;   
     display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    box-sizing: border-box;

    }

  
    .welcome-content h1{
        font-size: 80px;
        font-weight: 900;
        letter-spacing: -0.04em;
        line-height: 1.15;
        margin-top: 0;
        color: white;
    }

    .welcome-content {
        text-align: center;
        padding-top: 250px;
    }
