  body{
      line-height: 1;
  }
  
  /* WebLauncher  PAGeee */
  .search-results{
      display: flex;
      flex-direction: row;   
      background-color: black;
      padding-left: 20%;
      width: 80%;
      height: 100%;
      max-width: 80%;
      max-height: 100%;
    //   overflow: scroll;
  }

  .search-results ul{
      list-style-type: none;
  }

  
  .searchform-container{
    //   overflow: scroll;
  }

  .artists-result ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    //   align-items: center
  }

  .artists-result li{
      display: flex;
      flex-direction: column;
      padding-right: 30px;
     
  }

  .songs-result li{
      display: flex;
      flex-direction: row;
      margin-top: 10px;
  }

   .songs-result li .song-title,  .song-artist, .songs-result li i{
       font-size: 15px;
       font-family: 'Rubik', sans-serif;
       color: rgb(220, 217, 217);
   }

   .main-artist-song{
       font-family: 'Rubik', sans-serif;
       color: white;
       padding-left: 35%;
       z-index: 15;
       position: absolute;
       color: white;
       font-size: 75px;
       font-weight: 500;
   }

   .top-artist-song{
    font-family: 'Rubik', sans-serif;
    color: white;
    padding-left: 26%;
    font-size: 20px;
    font-weight: 300;
   }
   .song-artist{
    font-size: 12px;
    padding: 4px 0px;
   }

   .songs-result li i, .all-songs-results li i, .each-song-result li i{
    padding: 8px;
    padding-top: 11px;
    padding-left: 20px;
    font-size: 20px;
   }

   .each-song-result li i{
       color: white;
   }

  
   .ion-md-play{
    z-index: 11;
    // padding-left: 200px;
    position: absolute;
  }

   .display-n{
       display: none;
   }

   .songs-result li i:hover{
       cursor: pointer;
    //    font-size: 20px;
   }

   .songs-result  .song-info{
       display:flex;
       flex-direction: column;
   }

   .song-artist{
       color: gray;
   }
 .artists-result li img{
     border-radius: 90px;
     width: 200px;
     height: 200px;
   }

   .artist-name{
       padding-top: 10px;
       padding-left: 60px;
      font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    // font-weight: var(--glue-font-weight-bold);
    font-family:'Rubik', sans-serif;
    //  arial,sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
       color: rgb(220, 217, 217);
   }
   
    

   

    #bar-link ul{
    margin: 0;
    padding: 10;
    }

    #bar-link{
            height: 200px;
            padding-top: 30px;
        }

  .home-link:hover #iconhome, .library-link:hover, .search-link:hover, .home-link:hover a, .library-link:hover a, .search-link:hover a{
          color: white;
      }

      .home-link:hover img{
          opacity: 1;
      }

  .home-link{
      margin-right: 70px;
    }

  .iconlink{
      color: gray;
      font-size: 12px;
      text-decoration: none;
      font-family: 'Rubik', sans-serif;
      padding-left: 7px;
      margin-bottom: 10px;
    //   margin-right: 2px;
    }

    .create-but-text{
        font-family: 'Rubik', sans-serif;
        // Arial, Helvetica, sans-serif;
    }

    .songs-result{
        display: flex;
    }

    .result-links{
        font-size: 14px;
        line-height: 16px;
        font-weight: 200px;
        font-family: 'Rubik', sans-serif;
        // Arial, Helvetica, sans-serif;
        margin: 10px;
        padding: 5px 10px;
    }

    .result-links:hover{
        color: white;
        cursor: pointer;
    }

    .result-links-container span{
        font-size: 25px;
    }

    .result-links-container{
        padding-left: 20%;
        width: 80%;
        height: 80%;
        max-width: 80%;
        max-height: 80%;
        display: flex;
        justify-content: center;
        padding-top: 1%;
        font-family: 'Rubik', sans-serif;
        // arial,sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    }

    .display-results{
        display: none;
    }

    
    .link-home{
        text-decoration: none;
    }
.sidebar-logoword{
  padding-top: 2%;
  padding-left: 72px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 25px;
  font-weight: 550;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

  #iconhome{
      font-size: 25px;
    }

.playlist-items{
    // overflow:scroll;
    height: 200px;
    // scrollbar-color: red;
   }

   .playlist-item{
     color: white;
     text-decoration: none;
     margin-top: 20px;
   }

   .playlist ul, .sidebar-footer li{
     list-style-type: none;
   }

   .playlist p{
       font-family: 'Rubik', sans-serif;
       font-size: 10px;
   }

   .sidebar-footer li{ 
    padding-left: 30px;
    }

    .side-bar #header-logo, div #home-link a {
        color: white;
      
    }


    .sidebar-footer a {
        text-decoration: none;
        color:white;
    }



.middle-home::-webkit-scrollbar {
        height: 6px;
        width: 6px;
        /* background: blue; */
        /* color: blue; */
    }

.middle-home::-webkit-scrollbar-thumb {
    background: gray;
}

 


   .upper-links {
        display: flex;
        justify-content: center;
        font-size: 14px;
        width: 770px;
        padding-left: 30%;
        padding-top: 40px;
        font-weight: bold;
        font-family: 'Rubik', sans-serif;
        // arial,sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
        color: rgb(251, 250, 250);
    }

    .upper-links span:hover {
        color: white;
        cursor: pointer;
        opacity: 2;
     }

    
    .upper-links span{
        padding-right: 34px;
    }

    .home-button{
        width: 25px;
        opacity: 0.5;
    }

    .main-weblauncher{
      background-image: linear-gradient(90deg, rgba(36,134,135,1) 0%, rgba(2,57,57,1) 93%);
      height: 100vh;
      width: 100vw;
      max-width: 100%;
      max-height: 100%;
      padding: 0;
      margin: 0;
    //   display: grid;
    //   grid-template-columns: 228px 1fr;
    //   grid-template-rows: 1fr 90px;
    //   grid-template-areas:
    //       "left-nav main"
    //       "player player";
    }

//     .for-who{
//     font-size: 39px;
//     color: white;
//     margin-left: 280px;
//     padding-top: 50px;
//     padding-left: 25px;
//     font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
//     // color: rgb(65, 6 5, 65);
// }

    .mix-icons img {
        position: relative;
        width: 140px;
        height: 140px;
        top: 13px;
        padding-left: 15px;
    }

    .mix-icons {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 100%

}

.mix-icon {
    width: 140px;
    padding-right: 15px;
    padding-left: 10px;
    /* display: wrap; */
    overflow-wrap: normal
}

.mix-title {
    color: white;
    padding-left: 50px;
}

.mix-artists{
  color: white;
  padding-left: 50px;
}


.song-player-controls{
    justify-content: space-between;
    height: 100%;
    background-color: rgb(38, 40, 40);
    z-index: 6;
    display: flex;
    max-width: 100%;
}


.song-player-foot{
    margin-top: 2.2%;
    background-color: rgb(32, 32, 32);
    width: 100%;
    max-width: 100%;
    height: 12%;
    max-height: 12%;
    z-index: 7;
    position: fixed;        
}

.home-word{
    padding-bottom: 5px;
}
.side-bar a {
    font-size: 16px;
}

.side-bar{
    background-color: black;
    color: #b3b3b3;
    // font-size: 30px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    text-transform: none;
    font-weight: 550;
    font-family: 'Rubik', sans-serif;
    //fantasy, Helvetica, Arial, sans-serif;  
    max-width: 228px;
    min-width: 228px;
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    height: 100%;
}

.mid-home-cont{
    position: fixed;
    height: 87%;
    max-height: 87%;
    width: 100%;
    max-width: 100%;
    padding-left: 228px;
    overflow-y: scroll;
}


.middle-home{
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    color: rgb(129, 129, 129);
    display: flex;
    justify-content: center;
}


.flex-box-featured-andsidebar{
    width: 100vw;
    max-width: 100vw;
    height: 84%;
    max-height: 84%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}
      
      

    .opacity{
        opacity: 0.6;
    }
    .play-button {
        width: 50px;
        height: 50px;
    }

    .next-button, .previous-button { 
        width: 16px;
        padding-bottom: 16px;
    }

    .previous-button{
        padding-right: 15px;
    }

    .next-button{
        padding-left: 15px;
    }

    .shuffle-button{
        width: 25px;
        padding-bottom: 10px;
        margin-right: 27px
    }

    .repeat-button{
        width: 26px;
        padding-bottom: 10px;
        margin-left: 27px
    }


    .song-image-foot{
        width: 56px;
        height: 56px;
        margin-left: 17px;
        margin-top: 17px;
        background-color:rgb(38, 40, 40);
        box-shadow: 0 0 12px rgba(0,0,0,0.3);
    }

    .TopResultsCont{
        display: flex;
        flex-direction: column;
        width: 80%;
    }



    .songs-result li, .songs-result ul{
        width: 100%;
        position: relative
    }
    
    .overlay {
        position: relative;
    }

    .overlay:after {
        position: absolute;
        content:"";
        // transition: all .3 ease-in-out;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:0;
        
    }

    .overlay:hover:after  {
        opacity: .7;
    }

    .gray:after, .gray {
        transition: all .3 ease-in-out;
    }

    .gray:after {
        background-color: gray;
      }
      


    // #overlay {
    //     // display: none;
    //     // position: absolute;
    //     width: 100px;
    //     // height: 100px;
    //     background-color: blue;
    //     top: 50px;
    //     left: 50px;
    //     padding: 10px;
    //     opacity: .8;
    //     z-index: 8;
    //   }

    #each-song-result{
        width: 100%;
        height: 10%;
    }

    .each-song-result-cont{
        display: flex;
        flex-wrap: wrap;
        height: 40%;
    }
    .song-info{
       margin-left: 14px;
       margin-top: 10px; 
    }

    .artistPage{
        padding-left: 228px;
        width: 100%;
    }

    .big-image-artist{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    // background: linear-gradient(transparent -30%, #181818);
    background-size: cover;
    background-position: 100% 35%;
    background-repeat: no-repeat;
    }

    .big-image-artist:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(transparent -30%, #181818); }
    

    .artist-result{
        height: 100%;
    }

    .artist-image-cont{
        height: 54%;
        position: relative;
    }

    .all-songs{
        display: flex;
        padding-left: 250px;
        padding-top: 30px;
        flex-direction: column;
        // position: fixed;
    }